//CUSTOM CHECKBOX
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  user-select: none;
  margin: 0.6em;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  background-color: #ccc;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #254164;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
