<nav class="navbar navbar-expand-md bg-porcelain">
  <div class="container-fluid">
    <img
      src="https://img.freepik.com/premium-vector/list-minimal-vector-line-icon-3d-button-isolated-black-background-premium-vectorxa_570929-1564.jpg"
      alt="dealership logo"
      class="logo-img"
    />
    <button
      (click)="show = !show"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- toggle variabile show booleana-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: show }">
      <!-- toggle classe show -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/completed" routerLinkActive="active"
            >Completed</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/uncompleted"
            routerLinkActive="active"
            >Uncompleted</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
