<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Accedi al sito</h5>
          <p class="card-text">Hai già un account?</p>
          <button class="btn btn-dark my-2" routerLink="login">Accedi</button>
          <p class="card-text">Se non sei già iscritto registrati</p>
          <button class="btn btn-primary my-2" routerLink="register">
            Registrati
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
