<article class="container">
  <div class="row g-2" *ngIf="fiatCarArray[0]">
    <div class="col-12 text-center pb-4">
      <h3>Le nostre {{ fiatCarArray[0].brand }}</h3>
      <img
        src="{{ fiatCarArray[0].brandLogo }}"
        alt="brand logo"
        class="car-brand"
      />
    </div>
    <div class="col-12 col-md-6" *ngFor="let car of fiatCarArray">
      <div
        class="card h-100 text-blu-scuro"
        [ngClass]="{
          'bg-info': car.available,
          'bg-warning': !car.available
        }"
      >
        <img
          src="{{ car.modelImage }}"
          class="card-img-top"
          alt="product img"
        />
        <div class="card-body">
          <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
          <div class="d-flex justify-content-between">
            <p>Anno: {{ car.year }}</p>
            <p>Prezzo: {{ car.price }} &euro;</p>
          </div>
          <p>Disponibiltà: {{ car.available ? "disponibile" : "esaurito" }}</p>
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/details/{{ car.model }}"
          >
            Dettagli vendita
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
