<footer
  class="d-flex flex-wrap justify-content-between align-items-center p-3 border-top bg-porcelain"
>
  <div class="col-md-4 d-flex align-items-center">
    <img
      src="../../../assets/apple-touch-icon.png"
      alt="logo"
      class="logo-img"
    />
    <span class="mb-3 mb-md-0 mx-2 text-body-secondary"
      >&copy; To-Do Inc, 2024</span
    >
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="nav-item">
      <a routerLink="#" class="nav-link px-2 text-body-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link px-2 text-body-secondary">Features</a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link px-2 text-body-secondary">Pricing</a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link px-2 text-body-secondary">FAQs</a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link px-2 text-body-secondary">About</a>
    </li>
  </ul>
</footer>
